.sidebar {
     position: absolute;
     top: 0;
     left: 0;
     width: 16rem;
     background-color: var(--bg-slate-800/60);
     backdrop-filter: blur(4px);
     padding: var(--spacing-xs);
     display: flex;
     flex-direction: column;
     gap: var(--spacing-xs);
     z-index: 40;
     height: calc(100vh - var(--top-bar-height));
     overflow-y: auto;
   }

   .sidebarButton {
     padding: var(--spacing-xs);
     background-color: var(--bg-button-secondary);
     color: var(--text-primary);
     border: none;
     border-radius: var(--border-radius);
     font-size: var(--font-size-xs);
     cursor: pointer;
     transition: var(--button-transition);
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   }

   .sidebarButton:hover {
     background-color: var(--bg-slate-700);
   }